<select id={{this.id}} class="form-control" type="text" placeholder="Readonly input here…" readonly>
  <option value="null"></option>
  <option value="C">C</option>
  <option value="Cm">Cm</option>
  <option value="C#">C#</option>
  <option value="C#m">C#m</option>
  <option value="Db">Db</option>
  <option value="Db">Dbm</option>
  <option value="D">D</option>
  <option value="D">Dm</option>
  <option value="D#">D#</option>
  <option value="D#">D#m</option>
  <option value="Eb">Eb</option>
  <option value="Eb">Ebm</option>
  <option value="E">E</option>
  <option value="E">Em</option>
  <option value="F">F</option>
  <option value="F">Fm</option>
  <option value="F#">F#</option>
  <option value="F#">F#m</option>
  <option value="Gb">Gb</option>
  <option value="Gb">Gbm</option>
  <option value="G">G</option>
  <option value="G">Gm</option>
  <option value="G#">G#</option>
  <option value="G#">G#m</option>
  <option value="Ab">Ab</option>
  <option value="Ab">Abm</option>
  <option value="A">A</option>
  <option value="A">Am</option>
  <option value="A#">A#</option>
  <option value="A#">A#m</option>
  <option value="Bb">Bb</option>
  <option value="Bb">Bbm</option>
  <option value="B">B</option>
  <option value="B">Bm</option>
</select>
